.slider__slide{
    width: 100%;
    height: 100%;
}
.slider__slide_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev, .swiper-button-next{
    --swiper-theme-color: aliceblue;
}
.swiper-pagination-bullet{
    --swiper-theme-color: rgba(240, 248, 255, 0.514);
}
.swiper-pagination-bullet-active{
    --swiper-theme-color: aliceblue;
}
.swiper-wrapper{
    z-index: 0;
}